.env
modeloapp/__pycache__/*
/apps/cinemas/__pycache__/*
/apps/cinemas/migrations/*
/apps/salas/__pycache__/*
/apps/salas/migrations/*
/apps/filmes/__pycache__/*
/apps/filmes/migrations/*
/apps/sessoes/__pycache__/*
/apps/sessoes/migrations/*
/apps/clientes/__pycache__/*
/apps/clientes/migrations/*
/apps/avaliacoes/__pycache__/*
/apps/avaliacoes/migrations/*
/apps/pagamentos/__pycache__/*
/apps/pagamentos/migrations/*
/apps/ingressos/__pycache__/*
/apps/ingressos/migrations/*